/* Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
  url(fonts/proximanova-black.woff2) format('woff2'),
  url(fonts/proximanova-black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
  url(fonts/proximanova-extrabld.woff2) format('woff2'),
  url(fonts/proximanova-extrabld.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url(fonts/proximanova-bold.woff2) format('woff2'),
  url(fonts/proximanova-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url(fonts/proximanova-semibold.woff2) format('woff2'),
  url(fonts/proximanova-semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url(fonts/proximanova-regular.woff2) format('woff2'),
  url(fonts/proximanova-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url(fonts/proximanova-light.woff2) format('woff2'),
  url(fonts/proximanova-light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
  url(fonts/proximanova-thin.woff2) format('woff2'),
  url(fonts/proximanova-thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}


/* Proxima Nova Condensed */
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
  url(fonts/proximanovacond-black.woff2) format('woff2'),
  url(fonts/proximanovacond-black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
  url(fonts/proximanovacond-extrabld.woff2) format('woff2'),
  url(fonts/proximanovacond-extrabld.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
  url(fonts/proximanovacond-semibold.woff2) format('woff2'),
  url(fonts/proximanovacond-semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
  url(fonts/proximanovacond-bold.woff2) format('woff2'),
  url(fonts/proximanovacond-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
  url(fonts/proximanovacond-regular.woff2) format('woff2'),
  url(fonts/proximanovacond-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Proxima Nova Extra Condensed */
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Black'), local('ProximaNovaExCn-Black'),
  url(fonts/proximanovaexcn-black.woff2) format('woff2'),
  url(fonts/proximanovaexcn-black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Extrabold'), local('ProximaNovaExCn-Extrabld'),
  url(fonts/proximanovaexcn-extrabld.woff2) format('woff2'),
  url(fonts/proximanovaexcn-extrabld.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
  url(fonts/proximanovaexcn-bold.woff2) format('woff2'),
  url(fonts/proximanovaexcn-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Semibold'), local('ProximaNovaExCn-Semibold'),
  url(fonts/proximanovaexcn-semibold.woff2) format('woff2'),
  url(fonts/proximanovaexcn-semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'),
  url(fonts/proximanovaexcn-light.woff2) format('woff2'),
  url(fonts/proximanovaexcn-light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
body{box-sizing:border-box;padding:0;margin:0;font-size:16px;line-height:1.2;font-family:'Proxima Nova'}*{box-sizing:border-box}

.layout{height:100vh;display:flex;flex-direction:column}.layout__main{display:flex;flex-direction:column;flex-grow:1}

.menu-toggle{position:fixed;top:40px;left:40px;font-size:20px;color:#FFFFFF;transition:all 0.22s ease-in;cursor:pointer;z-index:100}.menu-toggle:hover{opacity:0.7}.menu-toggle_open{left:320px}.menu-toggle.fa-times{color:#FFFFFF;opacity:1}

.drawer{position:fixed;left:0;top:0;bottom:0;width:80%;max-width:300px;padding:20px 10px;background-color:#FFFFFF;transform:translateX(0);transition:all 0.22s ease-in;z-index:90}.drawer_close{transform:translateX(-300px)}.drawer ul{list-style:none;margin:0;padding:0}.drawer li{margin-bottom:15px}.drawer a{color:#363D54;font-size:30px;text-decoration:none;background-color:#FFFFFF;position:relative;padding:0 20px 10px;transition:all 0.3s}.drawer a:hover,.drawer a.active{opacity:0.7}

.backdrop{position:fixed;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,0.7);z-index:50}

.quiz{display:flex;justify-content:center;padding-top:100px;flex-grow:1;width:100%;background-image:linear-gradient(90deg, #5041b2 0%, #7969e6 100%)}.quiz__wrapper{max-width:600px;width:100%;margin:0 auto}.quiz h1{color:#FFFFFF}

.active-quiz{padding:20px;color:#FFFFFF;border:2px solid #FFFFFF;border-radius:5px}.active-quiz__question{display:flex;justify-content:space-between}

.answers-list{list-style:none;margin:0;padding:0}

.answer-item{border:1px solid #FFFFFF;border-radius:5px;padding:5px 10px;margin-bottom:5px;cursor:pointer}.answer-item:hover{background-color:rgba(255,255,255,0.2);transition:all 0.3s ease-in-out}.answer-item.error{background-color:rgba(240,87,108,0.7)}.answer-item.success{background-color:rgba(161,240,69,0.7)}

.finished-quiz{padding:20px;color:#FFFFFF;border:2px solid #FFFFFF;border-radius:5px}.finished-quiz ul{list-style:none;padding:0;margin:0}.finished-quiz li i{margin-left:10px}.fa-times{color:rgba(240,87,108,0.7)}.fa-check{color:rgba(161,240,69,0.7)}

.button{display:inline-block;padding:10px 20px;border-radius:4px;border:1px solid #ccc;color:#000;margin-right:15px;text-transform:uppercase;font-weight:700;font-size:12px;cursor:pointer}.button:focus{outline:none}.button:active{box-shadow:inset 2px 2px 1px 0 rgba(0,0,0,0.3)}.button:disabled{background-color:#CCCCCC !important;color:#000 !important;cursor:not-allowed !important}.button.error{background-color:#f0576c}.button.success{background-color:#a1f045}.button.primary{background-color:#2884F6;color:#FFFFFF}

.quiz-list{display:flex;justify-content:center;padding-top:100px;flex-grow:1;width:100%;background-image:linear-gradient(90deg, #FD8355 0%, #F0576C 37%, #F79CBD 100%)}.quiz-list h1{color:#FFFFFF}.quiz-list ul{list-style:none;margin:0;padding:0}.quiz-list li{margin-bottom:10px}.quiz-list a{text-decoration:none;color:#FFFFFF}.quiz-list a:hover{color:#363F54}

.auth{display:flex;justify-content:center;flex-grow:1;padding-top:100px;width:100%;background-image:linear-gradient(270deg, #CEF2FA 0%, #59BFEF 100%)}.auth>div{width:100%;max-width:600px;padding:0 20px}.auth h1{color:#FFFFFF;text-align:center}.auth-form{background-color:#EEEEEE;box-shadow:2px 2px 2px rgba(0,0,0,0.5);padding:15px;border-radius:5px}

.input{margin-bottom:15px}.input label{margin-bottom:3px;padding:0;display:block;font-weight:700}.input input{display:block;border:1px solid #BEBEBE;padding:7px;margin:0 0 5px;width:100%;outline:none;transition:all 300ms ease-in-out}.input span{color:#F01F30;font-size:12px;font-weight:700}.input.invalid label{color:#F01F30}

